input[type="text"],
input[type="number"],
textarea,
select {
  display: block;
  width: 100%;

  &:focus {
    outline: none;
    border-color: var(--color-gray);
  }
}
select {
  border: 1px solid var(--color-light);
  border-radius: 4px;
  padding: 11px 18px;

  -webkit-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M16.293 9.293L12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z" fill="%23999"/></svg>') no-repeat right 8px center;

  &[multiple] {
    background: none;
  }
}
button[disabled] {
  background: #ddd;
  border-color: #ddd;
  color: #2c3e50;
}
svg {
  width: 16px;
  height: 16px;
  fill: var(--color-gray);
}
&-required {
  color: var(--color-red);
}
&-loading {
  margin-left: 12px;
  font-style: italic;
}

// Collapsible panel
&-collapsible {
  background-color: #fff;

  &__header {
    border: 1px solid var(--color-light);
    border-radius: 4px;
    background-color: var(--color-lighter);

    &:hover {
      border-color: var(--color-gray);
    }
  }

  &__body {
    overflow-y: hidden;
    max-height: 0;
    transition: all 0.2s ease;

    border-width: 0 1px;
    border-style: solid;
    border-color: var(--color-light);
    border-radius: 0 0 4px 4px;
    padding: 0 12px;
  }
  &--expanded {
    .og-collapsible__header {
      border-radius: 4px 4px 0 0;
    }
    .og-collapsible__body {
      max-height: 1000px;
      border-bottom-width: 1px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
}

// Result
&-result {
  margin-top: 48px;

  &__body {
    position: relative;
  }
  pre {
    padding: 0;
  }
  .hljs {
    font-size: 13px;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 12px;
    text-transform: none;
    border-radius: 0 0 0 4px;
  }
}


// Tooltip
& &-tooltip-icon {
	width: 14px;
	height: 14px;
	fill: var(--color-light);
	margin-left: 6px;
	top: 2px;
	position: relative;
}
.__react_component_tooltip {
  font-weight: 400;
  max-width: 400px;
}

// Tabs
.react-tabs {
  margin-bottom: 24px;

  &__tab-list{
    border-bottom-color: var(--color-light);
    margin-bottom: 24px;
  }
  &__tab {
    font-weight: bold;

    > svg {
      position: relative;
      top: 2px;
      margin-right: 4px;
    }
  }
  &__tab--selected {
    border-color: var(--color-light);
    border-radius: 4px 4px 0 0;
    color: inherit;
  }
}