&-field {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&-field--check &-input {
  label {
    display: inline-block;
    margin-right: 24px;
  }
  input {
    vertical-align: baseline;
    margin-right: 4px;
    top: -1px;
  }
}
&-label {
  width: 25%;
  font-weight: 700;
}
&-input {
  flex: 1;
}
&-description {
  font-style: italic;
  font-size: 12px;
  margin-top: 2px;
}
&-item {
  margin-bottom: 12px;
  padding-right: 32px;
  position: relative;

  &__header {
    padding: 8px 12px;
    cursor: move;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: bold;
    line-height: 24px;
  }
  &__actions {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  &__action {
    cursor: pointer;
    margin-left: 16px;
    color: var(--color-gray);
    display: flex;

    svg {
      fill: currentColor;
      width: 16px;
    }
    &:hover {
      color: inherit;
    }
    &--remove:hover {
      color: var(--color-red);
    }
  }

  input[type="text"],
  input[type="number"],
  textarea {
    padding: 8px 12px;
  }
  select {
    padding: 7px 12px;
  }

  .react-tabs {
    &__tab-list {
      border: none;
    }
    &__tab {
      font-weight: normal;
      padding: 0;
      color: var(--color-accent);
      margin-right: 12px;
      padding-right: 12px;
      border: none;
      border-right: 1px solid var(--color-light);
      border-radius: 0;
      line-height: 1;

      &--selected {
        font-weight: bold;
      }
      &:last-child {
        border-right: none;
      }
      &:hover {
        opacity: .75;
      }
    }
  }

  // Sorting.
  &__sort {
    position: absolute;
    right: 0;
    top: 0;
    display: none;

    .og-item:hover & {
      display: flex;
      flex-direction: column;
    }
  }
  &__up,
  &__down {
    display: flex;
    background: none;
    border: 1px solid var(--color-light);
    padding: 2px 4px;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: var(--color-light);
    }
  }
  &__up {
    border-radius: 4px 4px 0 0;
    border-bottom-width: 0;
  }
  &__down {
    border-radius: 0 0 4px 4px;
    border-top-width: 0;
  }
}
&-item &-field {
  margin-top: 12px;
}
&-item &-label {
  font-weight: normal;
}
&-item--heading &-field--id,
&-item--divider &-field--id {
  display: none;
}

&-attributes {
  h4 {
    font-family: inherit;
    margin: 24px 0 12px;
  }
  button {
    padding: 9px 12px;
    text-transform: none;
  }
}
&-attribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  input {
    margin-right: 6px;
  }
  button {
    padding: 0;
    border: none;
    background: none;
    visibility: hidden;
    transition: unset;
  }
  &:hover button {
    visibility: visible;
  }
  svg {
    &:hover {
      fill: var(--color-red);
    }
  }
}