&-item {
  margin-top: 12px;
  border: 1px solid var(--color-light);

  &__heading {
    background-color: var(--color-lighter);
    padding: 8px 12px;
    cursor: move;
    display: flex;
    justify-content: space-between;
  }
  &__actions {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  &__action {
    cursor: pointer;
    margin-left: 16px;
    color: var(--color-gray);
    display: flex;

    svg {
      fill: currentColor;
      width: 16px;
    }
    &:hover {
      color: inherit;
    }
    &--remove:hover {
      color: var(--color-red);
    }
  }
  .og-builder__field-body {
    border: 1px solid #ccc;
    padding: 15px;

    .react-tabs__tab-list {
      padding-left: 0px;
      height: 36px;
      margin-bottom: 0px;
      border-bottom: 1px solid #ccc;

      .react-tabs__tab {
        height: 34px;
        border-radius: 0;
        background-color: #f1f1f1;
        border-color: #ccc;

        span {
          margin-left: 6px;
        }
      }

      .react-tabs__tab:nth-child(2) {
        margin-left: 4px;
      }

      .react-tabs__tab--selected {
        background-color: #fff;
        border-bottom-color: #fff;
      }
    }

    .field_content {
      border: 1px solid #ccc;
      padding: 15px;
      margin-top: -1px;
    }
  }
}

.advanced_content {
  .custom_attributes {
    h3 {
      text-transform: none;
      letter-spacing: normal;
      font-family: inherit;
      font-size: 1rem;
      margin-top: 24px;
    }

    a {
      color: #00b1b3;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    button {
      display: inline-block;
      border: 1px solid #00b1b3;
      border-radius: 4px;
      background: #00b1b3;
      color: #fff;
      line-height: 1;
      padding: 0.5em 1em;
      text-transform: none;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      transition: all 0.2s;
      font-size: 14px;
    }

    .input_value {
      padding: 0.5em 1em !important;
      margin-top: 0;
      color: #2c3e50;
      border: 1px solid var(--color-light);
      border-radius: 4px;
    }

    .input_label {
      padding: 0.5em 1em !important;
      margin-top: 0;
      color: #2c3e50;
      border: 1px solid var(--color-light);
      border-radius: 4px;
    }

    table {
      margin: 0 0 1.5em;
      font-size: 1em;
      width: 100%;

      tbody {
        img {
          height: 12px;
        }

        tr {
          border-bottom: 1px solid var(--color-light);
        }

        td {
          padding: 5px 20px 5px 0;
          text-align: left;
          padding-right: 0px;

          input {
            color: #2c3e50;
            border: 1px solid var(--color-light);
            border-radius: 4px;
            padding: 0.5em 1em !important;
            margin-top: 0;
            display: block;
            width: 86%;
          }

          button {
            display: inline-block;
            border: 1px solid #00b1b3;
            border-radius: 4px;
            background: #00b1b3;
            color: #fff;
            line-height: 1;
            font-weight: 700;
            text-align: center;
            white-space: nowrap;
            transition: all 0.2s;
            padding: 0.5em 1em;
            text-transform: none;
          }
        }
      }
    }
  }
}

.search_result {
  .btn_field {
    margin-left: 1%;
    width: 47%;
    margin-right: 2%;
    margin-bottom: 10px;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    height: 32px;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    text-transform: none;
    font-weight: 400;
  }
}
