&-item {
  margin-top: 12px;

  &__heading {
    background-color: var(--color-lighter);
    padding: 8px 12px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--color-light);

    &:hover {
      border-color: var(--color-gray);
    }
  }
  &__title {
    font-weight: bold;
  }
  &__actions {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  &__action {
    cursor: pointer;
    margin-left: 16px;
    color: var(--color-gray);
    display: flex;

    svg {
      fill: currentColor;
      width: 16px;
    }
    &:hover {
      color: inherit;
    }
    &--remove:hover {
      color: var(--color-red);
    }
  }
  &__body {
    padding: 12px;
    border: 1px solid var(--color-light);
    border-top: none;
  }

  input[type="text"],
  input[type="number"] {
    padding: 8px 12px;
  }
  select {
    padding: 7px 12px;
  }

  .react-tabs {
    &__tab-list {
      border: none;
    }
    &__tab {
      font-weight: normal;
      padding: 0;
      color: var(--color-accent);
      margin-right: 12px;
      padding-right: 12px;
      border: none;
      border-right: 1px solid var(--color-light);
      border-radius: 0;
      line-height: 1;

      &--selected {
        font-weight: bold;
      }
      &:last-child {
        border-right: none;
      }
      &:hover {
        opacity: .75;
      }
    }
  }
}

.advanced_content {
  .custom_attributes {
    h3 {
      text-transform: none;
      letter-spacing: normal;
      font-family: inherit;
      font-size: 1rem;
      margin-top: 24px;
    }

    a {
      color: #00b1b3;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    button {
      display: inline-block;
      border: 1px solid #00b1b3;
      border-radius: 4px;
      background: #00b1b3;
      color: #fff;
      line-height: 1;
      padding: 0.5em 1em;
      text-transform: none;
      font-weight: 700;
      text-align: center;
      white-space: nowrap;
      transition: all 0.2s;
      font-size: 14px;
    }

    .input_value {
      padding: 0.5em 1em !important;
      margin-top: 0;
      color: #2c3e50;
      border: 1px solid var(--color-light);
      border-radius: 4px;
    }

    .input_label {
      padding: 0.5em 1em !important;
      margin-top: 0;
      color: #2c3e50;
      border: 1px solid var(--color-light);
      border-radius: 4px;
    }

    table {
      margin: 0 0 1.5em;
      font-size: 1em;
      width: 100%;

      tbody {
        img {
          height: 12px;
        }

        tr {
          border-bottom: 1px solid var(--color-light);
        }

        td {
          padding: 5px 20px 5px 0;
          text-align: left;
          padding-right: 0px;

          input {
            color: #2c3e50;
            border: 1px solid var(--color-light);
            border-radius: 4px;
            padding: 0.5em 1em !important;
            margin-top: 0;
            display: block;
            width: 86%;
          }

          button {
            display: inline-block;
            border: 1px solid #00b1b3;
            border-radius: 4px;
            background: #00b1b3;
            color: #fff;
            line-height: 1;
            font-weight: 700;
            text-align: center;
            white-space: nowrap;
            transition: all 0.2s;
            padding: 0.5em 1em;
            text-transform: none;
          }
        }
      }
    }
  }
}