&-field {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&-field--check &-input {
  label {
    display: inline-block;
    margin-right: 24px;
  }
  input {
    vertical-align: baseline;
    margin-right: 4px;
    top: -1px;
  }
}
&-label {
  width: 25%;
  font-weight: 700;
}
&-input {
  flex: 1;

  input[type="text"],
  input[type="number"],
  select {
    width: 100%;

    &:focus {
      border-color: var(--color-gray);
    }
  }
  select {
    border: 1px solid var(--color-light);
    border-radius: 4px;
    padding: 11px 18px;
  }
}
&-description {
  color: var(--color-gray);
  margin-top: 6px;
  font-style: italic;
}