&-field {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
&-field--check &-input {
  label {
    display: inline-block;
    margin-right: 24px;
  }
  input {
    vertical-align: baseline;
    margin-right: 4px;
    top: -1px;
  }
}
&-label {
  width: 25%;
  font-weight: 700;
}
&-input {
  flex: 1;
}
& {
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    display: block;
    width: 100%;

    &:focus {
      border-color: var(--color-gray);
    }
  }
  select {
    border: 1px solid var(--color-light);
    border-radius: 4px;
    padding: 11px 18px;

    -webkit-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M16.293 9.293L12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z" fill="%23999"/></svg>') no-repeat right 8px center;

    &[multiple] {
      background: none;
    }
  }
}
&-description {
  font-style: italic;
  font-size: 12px;
  margin-top: 2px;
}