.og-field {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;

  &--check .og-input {
    label {
      display: inline-block;
      margin-right: 24px;
    }
    input {
      vertical-align: baseline;
      margin-right: 4px;
      top: -1px;
    }
  }
}
.og-label {
  width: 25%;
  font-weight: 700;
}
.og-input {
  flex: 1;

  input[type="text"],
  select {
    width: 100%;
  }
  select {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 11px 18px;
  }
}
.og-description {
  color: #555;
  margin-top: 6px;
  font-size: .875em;
  font-style: italic;
}