.og {
	--color-accent: #00b1b3;
	--color-gray: #999;
	--color-light: #ddd;
	--color-lighter: #f5f5f5;
	--color-red: #a94442;
	--shadow-md: 0 1px 1px rgba(0, 0, 0, 0.05);
	font-size: 14px;
}

.og label {
	cursor: pointer;
}

.og .react-tabs {
	margin-bottom: 24px;
}

.og .react-tabs svg {
	fill: var(--color-gray);
	width: 16px;
}

.og .react-tabs__tab-list {
	border-bottom-color: var(--color-light);
	margin-bottom: 24px;
}

.og .react-tabs__tab {
	font-weight: bold;
}

.og .react-tabs__tab svg {
	position: relative;
	top: 2px;
	margin-right: 4px;
}

.og .react-tabs__tab--selected {
	border-color: var(--color-light);
	border-radius: 4px 4px 0 0;
	color: inherit;
}

.og .og-field {
	margin-top: 12px;
	display: flex;
	justify-content: space-between;
}

.og .og-field--check .og-input label {
	display: inline-block;
	margin-right: 24px;
}

.og .og-field--check .og-input input {
	vertical-align: baseline;
	margin-right: 4px;
	top: -1px;
}

.og .og-label {
	width: 25%;
	font-weight: 700;
}

.og .og-input {
	flex: 1;
}

.og .og-input input[type="text"],
.og .og-input select {
	width: 100%;
}

.og .og-input select {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 11px 18px;
}

.og .og-description {
	color: #555;
	margin-top: 6px;
	font-size: .875em;
	font-style: italic;
}

.og-fields-wrapper {
	display: flex;
}

.og-main {
	flex: 1;
	margin-left: 36px;
}

.og-sidebar {
	width: 32%;
}

.og-sidebar button {
	color: inherit;
	border: 1px solid var(--color-light);
	background: var(--color-lighter);
	text-transform: none;
	font-weight: 400;
	padding: 8px;
}

.og-search {
	width: 100%;
	margin-bottom: 12px;
}

.og-panel {
	background-color: #fff;
	border: 1px solid var(--color-light);
	border-radius: 4px;
	box-shadow: var(--shadow-md);
	margin-bottom: 12px;
	overflow: hidden;
}

.og-panel h4 {
	cursor: pointer;
	background-color: var(--color-lighter);
	padding: 12px 16px;
	margin: 0;
}

.og-panel__body {
	padding: 12px;
}

.og-panel__body, .og-search-results {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 12px;
}

.og-item {
	margin-top: 12px;
	border: 1px solid var(--color-light);
}

.og-item__heading {
	background-color: var(--color-lighter);
	padding: 8px 12px;
	cursor: move;
	display: flex;
	justify-content: space-between;
}

.og-item__actions {
	font-size: 12px;
	display: flex;
	align-items: center;
}

.og-item__action {
	cursor: pointer;
	margin-left: 16px;
	color: var(--color-gray);
	display: flex;
}

.og-item__action svg {
	fill: currentColor;
	width: 16px;
}

.og-item__action:hover {
	color: inherit;
}

.og-item__action--remove:hover {
	color: var(--color-red);
}

.og-item__body {
	padding: 12px;
}

.og-item .react-tabs__tab-list {
	border: none;
}

.og-item .react-tabs__tab {
	font-weight: normal;
	padding: 0;
	color: var(--color-accent);
	margin-right: 12px;
	padding-right: 12px;
	border: none;
	border-right: 1px solid var(--color-light);
	border-radius: 0;
	line-height: 1;
}

.og-item .react-tabs__tab--selected {
	font-weight: bold;
}

.og-item .react-tabs__tab:last-child {
	border-right: none;
}

.og-item .react-tabs__tab:hover {
	opacity: .75;
}

.og .advanced_content .custom_attributes h3 {
	text-transform: none;
	letter-spacing: normal;
	font-family: inherit;
	font-size: 1rem;
	margin-top: 24px;
}

.og .advanced_content .custom_attributes a {
	color: #00b1b3;
	text-decoration: none;
}

.og .advanced_content .custom_attributes a:hover {
	text-decoration: underline;
}

.og .advanced_content .custom_attributes button {
	display: inline-block;
	border: 1px solid #00b1b3;
	border-radius: 4px;
	background: #00b1b3;
	color: #fff;
	line-height: 1;
	padding: 0.5em 1em;
	text-transform: none;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	transition: all 0.2s;
	font-size: 14px;
}

.og .advanced_content .custom_attributes .input_value {
	padding: 0.5em 1em !important;
	margin-top: 0;
	color: #2c3e50;
	border: 1px solid var(--color-light);
	border-radius: 4px;
}

.og .advanced_content .custom_attributes .input_label {
	padding: 0.5em 1em !important;
	margin-top: 0;
	color: #2c3e50;
	border: 1px solid var(--color-light);
	border-radius: 4px;
}

.og .advanced_content .custom_attributes table {
	margin: 0 0 1.5em;
	font-size: 1em;
	width: 100%;
}

.og .advanced_content .custom_attributes table tbody img {
	height: 12px;
}

.og .advanced_content .custom_attributes table tbody tr {
	border-bottom: 1px solid var(--color-light);
}

.og .advanced_content .custom_attributes table tbody td {
	padding: 5px 20px 5px 0;
	text-align: left;
	padding-right: 0px;
}

.og .advanced_content .custom_attributes table tbody td input {
	color: #2c3e50;
	border: 1px solid var(--color-light);
	border-radius: 4px;
	padding: 0.5em 1em !important;
	margin-top: 0;
	display: block;
	width: 86%;
}

.og .advanced_content .custom_attributes table tbody td button {
	display: inline-block;
	border: 1px solid #00b1b3;
	border-radius: 4px;
	background: #00b1b3;
	color: #fff;
	line-height: 1;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	transition: all 0.2s;
	padding: 0.5em 1em;
	text-transform: none;
}

.og .builder-options h3 {
	margin-bottom: 8px;
	font-size: 1em;
}

.og .builder-options button {
	display: inline-block;
	border: 1px solid #00b1b3;
	border-radius: 4px;
	background: #00b1b3;
	color: #fff;
	line-height: 1;
	padding: .5em 1em;
	text-transform: none;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	transition: all .2s;
	cursor: pointer;
	font-size: 14px;
}

.og .builder-options .input_value {
	padding: .5em 1em !important;
	margin-top: 0;
	color: #2c3e50;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.og .builder-options .input_label {
	padding: .5em 1em !important;
	margin-top: 0;
	color: #2c3e50;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.og .builder-options table {
	margin: 0 0 1.5em;
	font-size: 1em;
	width: 100%;
}

.og .builder-options table #title-datalist {
	text-align: left;
	font-size: 14px;
}

.og .builder-options table tbody img {
	height: 12px;
}

.og .builder-options table tbody tr {
	border-bottom: 1px solid #ddd;
}

.og .builder-options table tbody tr th {
	text-align: left;
	font-size: 14px;
	font-weight: normal;
}

.og .builder-options table tbody tr #center {
	text-align: center;
}

.og .builder-options table tbody td {
	padding: 5px 20px 5px 0;
	text-align: left;
	padding-right: 0px;
}

.og .builder-options table tbody td input {
	color: #2c3e50;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: .5em 1em !important;
	margin-top: 0;
	display: block;
	width: 86%;
}

.og .builder-options table tbody td button {
	display: inline-block;
	border: 1px solid #00b1b3;
	border-radius: 4px;
	background: #00b1b3;
	color: #fff;
	line-height: 1;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	transition: all .2s;
	padding: .5em 1em;
	text-transform: none;
}

.og .builder-options table tbody .option_item_checkbox {
	position: relative;
	top: 12px;
}
