.fields_container{
  display: flex;

  .left_fields{
    width: 32%;

    .search_input{
      color: #2c3e50;
      border: 1px solid #ddd;
      border-radius: 4px;
      display: block;
      width: 100%;
      padding: 1em 1.5em !important;
      margin-top: 1.5em;
      margin-bottom: 12px;
    }

    .field_menu{
      .field_menu_item{
          background-color: #fff;
          border: 1px solid #ddd;
          border-radius: 4px;
          box-shadow: 0 1px 1px rgba(0,0,0,.05);
          margin-bottom: .5em;
          overflow: hidden;
          font-size: 14px;
          cursor: pointer;

          h4{
            display: block;
            background-color: #f5f5f5;
            padding: 10px 15px;
            color: #333;
            margin: 0;
          }

          .og-panel__body{
            padding: 15px;

            .btn_field{
              margin-left: 1%;
              width: 47%;
              margin-right: 2%;
              margin-bottom: 10px;
              color: #555;
              border-color: #ccc;
              background: #f7f7f7;
              box-shadow: 0 1px 0 #ccc;
              vertical-align: top;
              display: inline-block;
              text-decoration: none;
              font-size: 13px;
              line-height: 26px;
              height: 32px;
              padding: 0 10px 1px;
              cursor: pointer;
              border-width: 1px;
              border-style: solid;
              -webkit-appearance: none;
              border-radius: 3px;
              white-space: nowrap;
              box-sizing: border-box;
              text-transform: none;
              font-weight: 400;
            }
          }
        }
    }
  }
  .right_fields{
    width: 63%;
    margin-left: 3%;

    .title{
      color: #2c3e50;
      margin-bottom: 12px;
      font-size: 14px;
    }
    
    .field_selected{
      margin-top: 12px;
      .og-builder__field-heading{
        display: block;
        background-color: #fafafa;
        border: 1px solid #ddd;
        padding: 10px 15px;
        cursor: move;

        .item_title{
          width: 12%;
          float: left;
          span{
            color: #000;
            cursor: move;
            font-size: 13px;
            font-weight: 700;
          }
        }

        .actions{
          float: right;
          font-size: 12px;
          color: #777;

          span{
            display: inline-block;
            padding-left: 5px;
            padding-right: 5px;
          }

          .type{
            cursor: move;
            font-size: 12px;
            margin-bottom: 2px;
          }

          .item-remove{
            cursor: pointer;
            font-size: 14px;
          }
        }
      }
      .og-builder__field-body{
        border: 1px solid #ccc;
        padding: 15px;

        .react-tabs__tab-list{
          padding-left: 0px;
          height: 36px;
          margin-bottom: 0px;
          border-bottom: 1px solid #ccc;

          .react-tabs__tab {
            height: 23px;
            border-radius: 0;
            background-color: #f1f1f1;
            border-color: #ccc;
      
            span{
              margin-left: 6px;
            }
          }

          .react-tabs__tab:nth-child(2){
            margin-left: 4px;
          }

          .react-tabs__tab--selected{
            background-color: #fff;
            border-bottom-color: #fff;;
          }
        }

        .field_content{
          border: 1px solid #ccc;
          padding: 15px;
          margin-top: -1px;
        }
      }
    }
  }

  .advanced_content{
    .custom_attributes{
      h3{
        text-transform: none;
        letter-spacing: normal;
        font-family: inherit;
        font-size: 1rem;
        margin-top: 24px;
      }
      
      a{
        color: #00b1b3;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }

      button{
          display: inline-block;
          border: 1px solid #00b1b3;
          border-radius: 4px;
          background: #00b1b3;
          color: #fff;
          line-height: 1;
          padding: .5em 1em;
          text-transform: none;
          font-weight: 700;
          text-align: center;
          white-space: nowrap;
          transition: all .2s;
      }

      .input_value {
          padding: .5em 1em !important;
          margin-top: 0;
          color: #2c3e50;
          border: 1px solid #ddd;
          border-radius: 4px;
      }

      .input_label {
          padding: .5em 1em !important;
          margin-top: 0;
          color: #2c3e50;
          border: 1px solid #ddd;
          border-radius: 4px;
      }

     
      table{
        margin: 0 0 1.5em;
        font-size: 1em;
        width: 100%;

        tbody{
            img{
                height: 12px;
            }

            tr{
                border-bottom: 1px solid #ddd;
            }
    
            td{
                padding: 5px 20px 5px 0;
                text-align: left;
                padding-right: 0px;

                input{
                    color: #2c3e50;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    padding: .5em 1em !important;
                    margin-top: 0;
                    display: block;
                    width: 86%;

                }

                button{
                    display: inline-block;
                    border: 1px solid #00b1b3;
                    border-radius: 4px;
                    background: #00b1b3;
                    color: #fff;
                    line-height: 1;
                    font-weight: 700;
                    text-align: center;
                    white-space: nowrap;
                    transition: all .2s;
                    padding: .5em 1em;
                    text-transform: none;
                }
            }
        }
      }
    }
  }
}