.react-tabs__tab-list{
  padding-left: 36px;
  height: 36px;
  margin-bottom: 24px;

  .react-tabs__tab {
    height: 23px;

    svg{
      position: inherit;
      top: 2px;
    }
    span{
      margin-left: 6px;
    }
  }
  .react-tabs__tab:hover{
    background-color: #f8f8f8;
  }
}

.check_box_page{
  margin-left: 12px;
}

#meta-box-context{
  padding: 12px 1.5em;
  width: 100%;
  border: 1px solid #ddd;
}

.radio-group{
  label{
    margin-right: 8px;
  }
}