.react-tabs {
  margin-bottom: 24px;

  & &__tab-list{
    border-bottom-color: #ddd;
    padding-left: 24px;
    margin-bottom: 24px;
  }
  .react-tabs__tab {
    font-weight: bold;

    svg {
      position: relative;
      top: 2px;
      margin-right: 4px;
    }
  }
  & &__tab--selected {
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    color: inherit;
  }
}

.check_box_page{
  margin-left: 12px;
}

#meta-box-context{
  padding: 12px 1.5em;
  width: 100%;
  border: 1px solid #ddd;
}

.radio-group{
  label{
    margin-right: 8px;
  }
}