.og-field {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
}
.og-label {
  width: 33%;
  font-weight: 700;
  cursor: pointer;
}
.og-input {
  flex: 1;

  input {
    width: 100%;
  }
}
.og-description {
  color: #555;
  margin-top: 6px;
  font-size: .875em;
  font-style: italic;
}